/*
 * layout
 */

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  line-height: 1.5;
}

// == layout
// --------------------------------
$sidebar-width-lg: rem(360);
$sidebar-width-md: rem(85);
$header-height: rem(80);

.col-wrap {
  background-color: #F9F9F9;
}
.col-left,
.col-right {
  position: relative;
}

// == col-left
// --------------------------------
.col-left {
  position: absolute;
  top: $header-height;
  z-index: 1;
  width: 100%;
  // height: 100%;
  background-color: #ffffff;

  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

// == col-right
// --------------------------------
.col-right {
  width: 100%;
  min-height: 100vh;
  transition: padding-left 0.3s;
}


// == header
// --------------------------------
.header {
  .container-fluid {
    position: relative;

    &:after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      display: block;
      height: 1px;
      background-color: #CACACA;
      margin-right: rem(30);
      margin-left: rem(30);
    }
  }

  .row {
    align-items: center;
    display: flex;
    height: $header-height;
  }

  .profile-icon {
    // background-color: $primary;
    // padding: rem(5);
    // border-radius: 50%;
  }

  .dropdown-group {
    .dropdown-profile {
      margin-bottom: rem(5);
    }
    .dropdown-name {
      font-size: rem(16);
      font-weight: 500;
    }
    .dropdown-email {
      color: $secondary;
      font-size: rem(13);
    }
  }
}
.btn-hamburger {
  position: absolute;
  top: rem(18);
  left: rem(30);
  z-index: 1;
}
[aria-expanded="true"] + header {
  background-color: #ffffff;
}


// == sidebar
// --------------------------------
.sidebar {
  position: relative;
  height: 100%;

  .logo-mobile {
    display: none;
    width: rem(40);
    margin: 0 auto;
  }
  // == menu
  .menu {
    padding-left: 0;
  }

  .menu-item + .menu-item {
    padding-top: rem(30);
  }

  .menu-text {
    display: inline-block;
    margin-left: rem(10);
  }

  .menu-item {
    position: relative;

    &.active {
      &:after {
        position: absolute;
        top: 0;
        right: rem(-30);
        content: '';
        display: block;
        width: rem(4);
        height: 100%;
        background-color: $primary;
      }

      .menu-link {
        color: $primary;

        .menu-icon {
          fill: $primary;
        }
      }
    }
  }

  .menu-link {
    display: block;
    color: #9A9A9A;
    font-size: rem(18);
    font-weight: 700;
    text-decoration: none;

    &:hover {
      color: $primary;

      .menu-icon {
        fill: $primary;
      }
    }

    &:after {
      content: '';
      width: 2px;
      height: 100%;
      background-color: $primary;
    }
  }

  .menu-icon {
    fill: #9A9A9A;
    width: rem(30);
    height: rem(30);
    margin-top: -3px;
  }

  // == accordion
  .accordion {
    padding: 0;

    .accordion-item {
      border: 0;
    }
    .accordion-button {
      color: #9A9A9A;
      font-size: rem(18);
      font-weight: 700;
      text-decoration: none;
      padding-top: 0;
      padding-right: 0;
      padding-bottom: rem(20);
      padding-left: 0;

      &::after {
        fill: #9A9A9A;
        color: #9A9A9A;
      }

      &:hover {
        color: $primary;
  
        .menu-icon {
          fill: $primary;
        }
      }
    }
    .accordion-button:not(.collapsed) {
      color: $primary;
      box-shadow: none;
      background-color: #ffffff;

      .menu-icon {
        fill: $primary;
        color: $primary;
      }
    }
    .accordion-collapse {
      background-color: #ebf2ed;
    }
    .accordion-body {
      ul li a {
        display: block;
        text-decoration: none;
        line-height: 2.2;
      }
    }
  }
  // == my-project-group
  .my-project-group {
    .project-list {
      .project-item {
        &.active {
          color: $primary;
          font-weight: 900;
        }
      }
    }
  }
}
.sidebar-logo {
  display: block;
  padding: rem(15) 0;

  .logo {
    width: rem(150);
  }
}


// == footer
// --------------------------------
.footer {
  width: 100%;
  text-align: center;

  .copyright {
    color: #AEAEAE;
    padding-top: rem(15);
    padding-bottom: rem(40);
  }

  .button-group {
    justify-content: center;
    margin: 40px auto 0;
    border-top: 1px solid #e3e3e3;

    @media (min-width: 1200px){
      margin: 0 auto;
      border-top: 0;
    }
  }

  button {
    margin-top: rem(50);
  }
}


// == 1200px ~ 
// --------------------------------
@media (min-width: 1200px) {
  .col-left {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    // left: -$sidebar-width-lg;
    z-index: 1;
    width: $sidebar-width-lg;
    background-color: #ffffff;
    border-top-right-radius: rem(30);
    border-bottom-right-radius: rem(30);
    box-shadow: 4px 0px 10px rgba(215, 215, 215, 0.15);
    transform: translate3d(0, 0, 0);
    transition: width 0.3s, left 0.3s;
    overflow-y: auto;
  }
  .col-left.collapse:not(.show) {
    display: block;
  }
  .col-right {
    padding-left: $sidebar-width-lg;
  }
  .btn-hamburger {
    display: none;
  }
  [aria-expanded="true"] + header {
    background-color: transparent;
  }
  .sidebar {
    height: 100%;
    min-height: rem(800);
  }
  .footer {
    position: absolute;
    bottom: 0;
  }
  .sidebar-logo {
    padding-top: rem(24);
    padding-bottom: rem(40);

    .logo {
      width: rem(183);
      height: rem(73);
    }
  }
}