/*
 * layout
 */

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  line-height: 1.5;
}

// == layout
// --------------------------------
$sidebar-width: rem(360);
$header-height: rem(100);

#root,
.col-wrap,
.col-left,
.col-right,
.sidebar {
  height: 100%;
}

.col-wrap {
  background-color: #F5F5F5;
}
.col-left,
.col-right {
  position: relative;
  float: left;
}

// == col-left
// --------------------------------
.col-left {
  display: none;
  width: $sidebar-width;
  background-color: #ffffff;
  border-top-right-radius: rem(30);
  border-bottom-right-radius: rem(30);
  box-shadow: 4px 0px 10px rgba(215, 215, 215, 0.15);
  
  @media (min-width: 1200px){
    display: block;
  }
}

// == col-right
// --------------------------------
.col-right {
  width: 100%;

  @media (min-width: 1200px){
    width: calc(100% - #{$sidebar-width});
  }
}


// == header
// --------------------------------
.header {
  .container-fluid {
    position: relative;

    &:after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      display: block;
      height: 1px;
      background-color: #CACACA;
      margin-right: rem(30);
      margin-left: rem(30);
    }
  }
}


// == sidebar
// --------------------------------
.sidebar {
  .sidebar-logo {
    display: block;
    padding-top: rem(24);
    padding-bottom: rem(40);
  }

  .menu {
    padding-left: 0;

    .menu-item {
      position: relative;

      &.active {
        &:after {
          position: absolute;
          top: 0;
          right: rem(-30);
          content: '';
          display: block;
          width: rem(4);
          height: rem(40);
          background-color: $primary;
          margin-top: rem(10);
        }

        .menu-link {
          color: $primary;

          .menu-icon {
            fill: $primary;
          }
        }
      }
    }

    .menu-link {
      display: block;
      color: #9A9A9A;
      font-size: rem(20);
      font-weight: 700;
      text-decoration: none;
      padding-top: rem(10);
      padding-bottom: rem(10);

      .menu-icon {
        margin-top: -2px;
      }

      &:hover {
        color: $primary;

        .menu-icon {
          fill: $primary;
        }
      }

      &:after {
        content: '';
        width: 2px;
        height: 100%;
        background-color: $primary;
      }
    }
  }
}


// == footer
// --------------------------------
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;

  .copyright {
    color: #AEAEAE;
    padding-top: rem(15);
    padding-bottom: rem(40);
  }
}