/*
 * layout
 */

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  line-height: 1.5;
}

//
// == layout
// --------------------------------
$sidebar-width-lg: rem(360);
$sidebar-width-md: rem(85);
$header-height: rem(80);

.col-wrap {
  // background-color: #f9f9f9;
  // 헤더 디자인 변경 내용 반영 위해 배경색 변경합니다.
  background-color: #FFFFFF;
}
.col-left,
.col-right {
  position: relative;
}

//
// == col-left
// --------------------------------
.col-left {
  position: absolute;
  top: $header-height;
  z-index: 1;
  width: 100%;
  // height: 100%;
  background-color: #ffffff;

  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

//
// == col-right
// --------------------------------
.col-right {
  width: 100%;
  min-height: 100vh;
  transition: padding-left 0.3s;
}

//
// == header
// --------------------------------
.header {
  position: relative;
  background-color: $primary;
  z-index: 9;

  .row {
    // align-items: center;
    // display: flex;
    height: $header-height;
    // margin-right: rem(-30);
    // margin-left: rem(-30);
  }
}
.header-right {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}
.btn-hamburger {
  position: absolute;
  top: rem(20);
  left: rem(30);
  z-index: 1;
  background-color: #286639;
  padding: rem(5);
  z-index: 10;
}
[aria-expanded="true"] + header {
  background-color: #ffffff;
}

.search-group {
  display: none;
}
.search-group + .dropdown {
  position: inherit !important;
}
.search-group-mobile.dropdown-menu {
  position: absolute;
  width: 100%;
  top: $header-height !important;
  right: 0 !important;
  left: 0 !important;
  background-color: #ffffff;
  padding: rem(30);
  // inset: inherit !important;
  transform: inherit !important;
  box-shadow: rgb(0 0 0 / 20%) 0px 20px 30px;

  .input-group {
    height: 100%;
  }

  .btn-search {
    background: #ffffff;
    border-top: 1px solid #c6d2de;
    border-right: 1px solid #c6d2de;
    border-bottom: 1px solid #c6d2de;
    border-top-right-radius: rem(50);
    border-bottom-right-radius: rem(50);
    padding: 0.375rem 0.75rem;
  }
  .form-control[type="text"] {
    width: rem(250);
    height: 42px;
    border-right: 0;
  }
  .search-select-group {
    position: relative;
    width: rem(200);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #2f3e4e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c6d2de;
    border-top-left-radius: rem(50);
    border-bottom-left-radius: rem(50);
    -webkit-appearance: none;
    appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    .search-select-box {
      height: rem(40);
      border: 0 none;
      outline: 0 none;
      position: relative;
      z-index: 1; // select가 위로 올라와야 함
      border-top-left-radius: rem(50);
      border-bottom-left-radius: rem(50);
      appearance: none;
      padding: 0.375rem 0.75rem;

      option {
        background: lightcoral;
        color: #fff;
        padding: 3px 0;
      }
    }

    .search-select-box:focus + .icoArrow {
      transform: rotate(180deg);
    } 
  }
}

.btn-search-mobile {
  background-color: #286639;
  padding: rem(5);

  .ico-search {
    fill: #fff;
  }
}
.dropdown-toggle::after {
  border-top: inherit;
  border-right: inherit;
  border-left: inherit;
}

//
// == sidebar
// --------------------------------
.sidebar {
  position: relative;
  height: 100%;

  .logo-mobile {
    display: none;
    width: rem(40);
    margin: 0 auto;
  }
  // == menu
  .menu {
    padding-left: 0;
  }

  .menu-item + .menu-item {
    padding-top: rem(30);
  }

  .menu-selected-option {
    display: inline-block;
    margin-left: rem(10);
  }

  .menu-item {
    position: relative;

    &.active {
      &:after {
        position: absolute;
        top: 0;
        right: rem(-30);
        content: "";
        display: block;
        width: rem(4);
        height: 100%;
        background-color: $primary;
      }

      .menu-link {
        color: $primary;

        .menu-icon {
          fill: $primary;
        }
      }
    }
  }

  .menu-text {
    display: inline-block;
    margin-left: rem(3);
  }

  .menu-link {
    display: block;
    color: #9a9a9a;
    font-size: rem(18);
    font-weight: 700;
    selected-option-decoration: none;

    &:hover {
      color: $primary;

      .menu-icon {
        fill: $primary;
      }
    }

    &:after {
      content: "";
      width: 2px;
      height: 100%;
      background-color: $primary;
    }
  }

  .menu-icon {
    fill: #9a9a9a;
    width: rem(30);
    height: rem(30);
    margin-top: -3px;
  }

  // == accordion
  .accordion {
    padding: 0;

    .accordion-item {
      border: 0;
    }
    .accordion-button {
      color: #9a9a9a;
      font-size: rem(18);
      font-weight: 700;
      selected-option-decoration: none;
      padding-top: 0;
      padding-right: 0;
      padding-bottom: rem(10);
      padding-left: 0;

      &::after {
        fill: #9a9a9a;
        color: #9a9a9a;
      }

      &:hover {
        color: $primary;

        .menu-icon {
          fill: $primary;
        }
      }
    }
    .accordion-button:not(.collapsed) {
      color: $primary;
      box-shadow: none;
      background-color: #ffffff;

      .menu-icon {
        fill: $primary;
        color: $primary;
      }
    }
    .accordion-collapse {
      background-color: #ffffff;
    }
    .accordion-body {
      ul li a {
        display: block;
        selected-option-decoration: none;
        line-height: 2.2;
      }
    }
  }
  // == my-project-group
  .my-project-group {
    .project-list {
      .project-item {
        &.active {
          color: $primary;
          font-weight: 900;
        }
      }
    }
  }
}
.sidebar-logo {
  display: block;
  padding: rem(15) 0;

  .logo {
    width: rem(150);
  }
}

//
// == footer
// --------------------------------
.footer {
  width: 100%;
  selected-option-align: center;

  .copyright {
    color: #aeaeae;
    padding-top: rem(15);
    padding-bottom: rem(40);
  }

  .button-group {
    justify-content: center;
    margin: 40px auto 0;
    border-top: 1px solid #e3e3e3;

    @media (min-width: 1200px) {
      margin: 0 auto;
      border-top: 0;
    }
  }

  button {
    margin-top: rem(50);
  }
}


//
// == 768px ~
// --------------------------------
@media (min-width: 768px) {
  .header {
    position: relative;
    background-color: $primary;
  
    .row {
      align-items: center;
      display: flex;
      height: $header-height;
      margin-right: rem(-30);
      margin-left: rem(-30);
    }
  }
  .header-right {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
  }
  [aria-expanded="true"] + header {
    background-color: #ffffff;
  }
  .btn-search-mobile {
    display: none;
  }

  .search-group.dropdown-menu {
    opacity: 1;
    position: inherit;
    top: inherit;
    left: inherit;
    inset: inherit;
    transform: inherit;
    background-color: transparent;
    border: 0;
    padding: 0;
  }
  
  .search-group {
    display: flex;
    width: rem(500);

    .search-select-group {
      .form-control[type="text"] {
        width: 100px;
      }
    }
  
    .input-group {
      height: 100%;
    }
  
    .btn-search {
      background: #ffffff;
      border-top: 1px solid #c6d2de;
      border-right: 1px solid #c6d2de;
      border-bottom: 1px solid #c6d2de;
      border-top-right-radius: rem(50);
      border-bottom-right-radius: rem(50);
      padding: 0.375rem 0.75rem;
    }
    .form-control[type="text"] {
      width: rem(250);
      height: 42px;
      border-right: 0;
    }
    .search-select-group {
      position: relative;
      width: rem(200);
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #2f3e4e;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #c6d2de;
      border-top-left-radius: rem(50);
      border-bottom-left-radius: rem(50);
      -webkit-appearance: none;
      appearance: none;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  
      .search-select-box {
        height: rem(40);
        border: 0 none;
        outline: 0 none;
        position: relative;
        z-index: 1; // select가 위로 올라와야 함
        border-top-left-radius: rem(50);
        border-bottom-left-radius: rem(50);
        appearance: none;
        padding: 0.375rem 0.75rem;
  
        option {
          background: lightcoral;
          color: #fff;
          padding: 3px 0;
        }
      }
  
      .search-select-box:focus + .icoArrow {
        transform: rotate(180deg);
      }
      
    }
  }
}

//
// == 1200px ~
// --------------------------------
@media (min-width: 1200px) {
  .col-left {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    // left: -$sidebar-width-lg;
    z-index: 1;
    width: $sidebar-width-lg;
    background-color: #ffffff;
    border-top-right-radius: rem(30);
    border-bottom-right-radius: rem(30);
    box-shadow: 4px 0px 10px rgba(215, 215, 215, 0.15);
    transform: translate3d(0, 0, 0);
    transition: width 0.3s, left 0.3s;
    overflow-y: auto;
  }
  .col-left.collapse:not(.show) {
    display: block;
  }
  .col-right {
    padding-left: $sidebar-width-lg;
  }
  .header {
    background-color: transparent;

    .container-fluid {
      position: relative;

      &:after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        display: block;
        height: 1px;
        background-color: #cacaca;
      }
    }

    .row {
      align-items: center;
      display: flex;
      height: $header-height;
      margin-right: rem(-30);
      margin-left: rem(-30);
    }

    .form-control[type="text"] {
      height: 42px;
      border-right: 0;
    }

    .dropdown-group {
      .dropdown-profile {
        margin-bottom: rem(5);
      }
      .dropdown-name {
        font-size: rem(16);
        font-weight: 500;
      }
      .dropdown-email {
        color: $secondary;
        font-size: rem(13);
      }
    }
  }
  .search-group {
    width: rem(500);
    .search-select-group {
      .form-control[type="text"] {
        width: 100px;
      }
    }
  }
  .btn-hamburger {
    display: none;
  }
  [aria-expanded="true"] + header {
    background-color: transparent;
  }
  .sidebar {
    height: 100%;
    min-height: rem(800);
  }
  .footer {
    position: absolute;
    bottom: 0;
  }
  .sidebar-logo {
    padding-top: rem(24);
    padding-bottom: rem(40);

    .logo {
      width: rem(183);
      height: rem(73);
    }
  }
}
