/**
 * --------------------------------------------------------------------------
 * note-issue.scss 
    * components/IssueList.jsx
 * --------------------------------------------------------------------------
 */
.note-issue-table{
  width: 100%; 
  border-collapse: separate;
  border-spacing: 0 rem(12); 
  table-layout: fixed;
  word-wrap: break-word;

  > :not(caption) > * > * {
    padding: $table-cell-padding-y $table-cell-padding-x;
    background-color: var(--#{$variable-prefix}table-bg);
    border-bottom-width: 0;
    box-shadow: inset 0 0 0 9999px var(--#{$variable-prefix}table-accent-bg);
  }

  th, td {
    padding: 0 rem(8);
  }

  thead {    
    vertical-align: middle;
    height: rem(32);  
    color: $custom-note-gray;
    font-size: rem(16);
    font-weight: 700;
    letter-spacing: $letter-spacing;
    background-color: $custom-light-green;
    
    th {
      text-align: left;
      &:first-child{
        text-align: center;
        border-top-left-radius: rem(8);
        border-bottom-left-radius: rem(8);
      }
      &:nth-child(2){
        text-align: center;
      }
      &:last-child{
        border-top-right-radius: rem(8);
        border-bottom-right-radius: rem(8);
      }
    }    
  }

  tbody {
    color: $custom-note-gray;
    font-size: rem(16);
    font-weight: 500;
    letter-spacing: $letter-spacing;
    background-color: #FFFFFF;
    

    td {
      vertical-align: middle;
      height: rem(48);
      &:first-child{
        text-align: center;
        border-top-left-radius: rem(8);
        border-bottom-left-radius: rem(8);
      }

      &:nth-child(2){
        text-align: center;
      }
      // note title
      &:nth-child(3){
        padding-right: rem(16);
        color: $custom-note-black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
      }
      // project title
      &:nth-child(4){
        padding-right: rem(16);
        color: $primary;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
      }

      &:last-child{
        border-top-right-radius: rem(8);
        border-bottom-right-radius: rem(8);
      }
    }
  }
}
