// == layout
// --------------------------------
$project-header-height: rem(106);
$project-header-tab-height: 99px; //tab
$project-header-mobile-height: 128px; //mobile
$inner-header-height: rem(56);
// == text
// --------------------------------
$note-heading: rem(18); // heading font-size
$letter-spacing: -0.03rem;
// == color
// --------------------------------
$custom-note-black: #191919;
$custom-note-gray: #767676;
$custom-background-light-gray: #F9F9F9;

// == note: project menu
// --------------------------------
.project-menu {
  width: 100%;
  height: $inner-header-height;
  padding: 0 rem(30);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: $custom-background-light-gray;

  li {
    margin-right: rem(30);
    line-height: rem(30);
    font-size: rem(18);
    letter-spacing: $letter-spacing;
    font-weight: 700;
    color: #9a9a9a;
    float: left;
  }

  a {
    text-decoration: none;
    &:hover {
      color: $primary;
    }
  }
  @media screen and (max-width: 767px) {
    li {
      margin-right: rem(12);
      line-height: rem(30);
      font-size: rem(16);
    }
  }
}

.project-menu-active {
  color: $primary;
  &:after {
    position: relative;
    bottom: 0;
    content: "";
    display: block;
    width: auto;
    height: rem(2);
    background-color: $primary;
  }
}

// == note: note container
// --------------------------------
.note-container {
  min-width: 100%;
  height: calc(100% - #{$project-header-height} - #{$inner-header-height});
  padding: 0 0 rem(40) rem(30);
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  background-color: $custom-background-light-gray;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    height: calc(100% - #{$project-header-tab-height} - #{$inner-header-height});
  }
  @media screen and (max-width: 767px) {
    height: calc(100% - #{$project-header-mobile-height} - #{$inner-header-height});
  }
}

// == note: kanban - column
// --------------------------------
.kanban-column {
  min-width: rem(320);
  height: inherit;
  margin-right: rem(28);
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow-y: hidden;
  border-radius: rem(20);
  background-color: #f3f3f3;

  .kanban-col-header {
    margin: rem(20) rem(20) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & span {
      margin-left: rem(12);
      font-weight: bold;
      font-size: $note-heading;
      letter-spacing: $letter-spacing;
      color: $custom-note-gray;
    }

    .kanban-col-title {
      display: flex;
      align-items: center;

      .kanban-col-badge {
        width: rem(24);
        margin-left: rem(10);
        border-radius: rem(18);
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        color: #ffffff;
        font-size: rem(12);
        line-height: rem(18);
        font-weight: bold;
        letter-spacing: $letter-spacing;
      }
    }
  }

  .kanban-col-content {
    min-height: rem(20);
    max-height: calc(100vh - 360px); // rem(360) 시 적용 안 됨
    margin-top: rem(8);
    user-select: none;
    white-space: nowrap;
    overflow-y: auto;
  }

  .kanban-col-footer {
    height: rem(60);
    border-radius: 0 0 rem(20) rem(20);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .kanban-column {
    .kanban-col-content {
      max-height: calc(100vh - 340px);
    }
  }
}
@media screen and (max-width: 767px) {
  .kanban-column {
    .kanban-col-content {
      max-height: calc(100vh - 310px);
    }
  }
}

// == note: kanban - card
// --------------------------------
.card-wrapper {
  min-height: rem(50);
  margin: rem(20);
  padding: rem(20) rem(20) rem(12);
  border-radius: rem(20);
  box-shadow: rem(2) rem(4) rem(20) rgba(25, 25, 25, 0.1);
  user-select: none;
  cursor: grab;
}

.kanban-card {
  h1 {
    font-weight: bold;
    font-size: rem(16);
    line-height: rem(24);
    letter-spacing: $letter-spacing;
    color: $custom-note-black;
    margin-bottom: rem(8);
    white-space: normal;
    word-break: break-all;
    overflow-wrap: break-word;
    // @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor: white);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  p {
    font-size: rem(12);
    line-height: rem(18);
    letter-spacing: $letter-spacing;
    color: #bcbcbc;
  }
  p:last-of-type {
    font-weight: bold;
    color: $custom-note-gray;
  }
  hr {
    margin: rem(10) 0;
    height: rem(2);
    background-color: #bcbcbc;
  }
}


