/**
 * --------------------------------------------------------------------------
 * note-issue.scss 
    * components/notesIssue/IssueList.jsx 
    * components/notesModal/ModalWriting.jsx 
    * components/files/FilePreviewer.jsx 
    * components/notesShared/NoteDetail.jsx 
    * 그 외 게시판형 페이지, 노트 생성/수정 모달, 파일 업로드, 노트 상세페이지 관련 
 * --------------------------------------------------------------------------
 */

.content {
  height: calc(100vh - #{$header-height});
  @media screen and (max-width: 767px) {
    height: calc(100vh - #{$header-mobile-height});
  }
}
// --------------------------------------------------------------------------
// == note: board container (Bookmark, MyNote page)
// --------------------------------------------------------------------------
.note-board-container {
  width: 100%;
  height: inherit;
  padding: rem(30);
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  flex-direction: column;
  background-color: $custom-background-light-gray;
}

.note-project-board-container {
  @extend .note-board-container;
  height: calc(100% - #{$project-header-height} - #{$inner-header-height});
  padding: 0 rem(30) rem(40);
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    height: calc(100% - #{$project-header-height} - #{$inner-header-height});
  }
  @media screen and (max-width: 767px) {
    height: calc(100% - #{$project-header-height} - #{$inner-header-height});
  }
}

.note-issuecard-wrapper {
  margin-bottom: rem(16);
  padding: rem(16);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: rem(20);
  box-shadow: rem(2) rem(4) rem(20) rgba(25, 25, 25, 0.1);

  .note-issuecard-content {
    padding: 0 rem(16);

    a {
      text-decoration: none;
    }

    h1 {
      font-weight: bold;
      font-size: rem(16);
      line-height: rem(24);
      white-space: normal;
      word-break: break-all;
      overflow-wrap: break-word;
      // @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor: white);
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      letter-spacing: $letter-spacing;
      color: $custom-note-black;
      &:hover {
        color: $primary;
      }
    }

    span {
      margin-right: rem(12);
      font-size: rem(16);
      line-height: rem(24);
      letter-spacing: $letter-spacing;
      color: $custom-note-gray;

      &.note-issuecard-title {
        color: $primary;
        &:hover {
          color: $custom-note-black;
        }
      }
    }
  }
}

// --------------------------------------------------------------------------
// == note: issue board table
// --------------------------------------------------------------------------
.note-issue-table {
  width: 100%;
  min-width: rem(600);
  border-collapse: separate;
  border-spacing: 0 rem(12);
  table-layout: fixed;
  word-wrap: break-word;

  > :not(caption) > * > * {
    padding: $table-cell-padding-y $table-cell-padding-x;
    background-color: var(--#{$variable-prefix}table-bg);
    border-bottom-width: 0;
    box-shadow: inset 0 0 0 9999px var(--#{$variable-prefix}table-accent-bg);
  }

  th,
  td {
    padding: 0 rem(8);
  }

  thead {
    vertical-align: middle;
    height: rem(32);
    color: $custom-note-gray;
    font-size: rem(16);
    font-weight: 700;
    letter-spacing: $letter-spacing;
    background-color: $custom-light-green;

    th {
      text-align: left;
      &:first-child {
        text-align: center;
        border-top-left-radius: rem(8);
        border-bottom-left-radius: rem(8);
      }
      &:nth-child(2) {
        text-align: center;
      }
      &:last-child {
        border-top-right-radius: rem(8);
        border-bottom-right-radius: rem(8);
      }
    }
  }

  tbody {
    color: $custom-note-gray;
    font-size: rem(16);
    font-weight: 500;
    letter-spacing: $letter-spacing;
    background-color: #ffffff;

    td {
      vertical-align: middle;
      height: rem(48);
      &:first-child {
        text-align: center;
        border-top-left-radius: rem(8);
        border-bottom-left-radius: rem(8);
      }

      &:nth-child(2) {
        text-align: center;
      }
      // note title
      &:nth-child(3) {
        padding-right: rem(16);
        color: $custom-note-black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        &:hover {
          color: #387e4b;
        }
      }
      // project title
      &:nth-child(4) {
        padding-right: rem(16);
        color: $primary;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
      }

      &:last-child {
        border-top-right-radius: rem(8);
        border-bottom-right-radius: rem(8);
      }
    }
  }
}

// --------------------------------------------------------------------------
// == note: modal
// --------------------------------------------------------------------------
.note-modal-wrapper {
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
  border-radius: rem(40);
  max-width: rem(960);
  min-width: rem(360);
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;

  .note-modal-container {
    width: inherit;
    padding: rem(54) rem(54) rem(32);
  }

  .note-modal-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(24);

    h1 {
      display: inline;
      margin-left: rem(16);
      font-weight: bold;
      font-size: rem(20);
      color: $custom-note-black;
      letter-spacing: $letter-spacing;
    }
    svg {
      margin-top: rem(-6);
      fill: $custom-note-black;
    }
    .note-modal-closer {
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        fill: $primary;
        transform: scale(1.05);
      }
    }
  }

  @media screen and (max-width: 767px) {
    height: 100vw;
    height: 100vh;
    border-radius: 0;
    .note-modal-container {
      height: 100vh;
      padding: rem(32);
    }
  }
}

.note-modal-table {
  width: 100%;
  display: table;
  border-collapse: collapse;

  .note-modal-tr {
    vertical-align: middle;
    display: table-row;
    height: rem(68);
  }

  .note-modal-th {
    padding: rem(16) 0;
    vertical-align: middle;
    display: table-cell;
    border-bottom: 1px solid #ededed;
    width: rem(160);
    font-weight: bold;
    font-size: rem(16);
    letter-spacing: -0.03em;
    color: $custom-note-gray;

    svg {
      fill: $custom-note-gray;
      margin: rem(-2) rem(20) 0;
    }
  }

  .note-modal-td {
    padding: rem(16);
    vertical-align: middle;
    display: table-cell;
    border-bottom: 1px solid #ededed;

    .note-modal-form-width {
      width: 100%;
    }
  }

  .cell-file-upload {
    // height: rem(160);
  }

  .cell-align-top {
    vertical-align: top;
  }

  & .note-modal-tr:last-child .note-modal-th {
    border-bottom: 0;
  }
  & .note-modal-tr:last-child .note-modal-td {
    border-bottom: 0;
  }

  @media screen and (max-width: 767px) {
    .note-modal-th {
      width: rem(90);
      text-align: center;
      font-size: rem(14);
    }
  }
}

.note-modal-footer-button {
  height: rem(96);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #e1ede4;
  color: $custom-note-gray;
  border-bottom-left-radius: rem(40);
  border-bottom-right-radius: rem(40);
  transition: all 0.2s ease-in-out;
  
  & h1 {
    font-weight: bold;
    font-size: rem(20);    
    letter-spacing: $letter-spacing;
  }
  &:hover {
    background-color: $primary;
    color: #ffffff;
  }
  @media screen and (max-width: 767px) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

// --------------------------------------------------------------------------
// == note: file uploader
// --------------------------------------------------------------------------
.note-file-uploader {
  font-size: rem(14);
  color: $custom-note-gray;
  letter-spacing: $letter-spacing;

  & ul > li {
    margin-right: 1rem;
    color: $custom-note-black;
    float: left;
    .note-file-remover {
      @extend .note-file-uploader;
      color: $custom-note-gray;
      font-size: rem(14);
      font-weight: normal;
      &:hover {
        color: $primary;
        cursor: pointer;
      }
      svg {
        fill: $custom-note-gray;
      }
    }
  }
}
// --------------------------------------------------------------------------
// == note: note detail
// --------------------------------------------------------------------------
.note-detail-container {
  @extend .note-container;
  justify-content: space-between;
  overflow-y: auto;
}

.note-detail-wrapper {
  //----------------------
  min-width: rem(800);
  min-height: rem(600);
  width: 100%;
  //----------------------
  padding: rem(32);
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: rem(20);
  box-shadow: rem(2) rem(4) rem(20) rgba(25, 25, 25, 0.1);
  overflow-y: auto;
  @media screen and (max-width: 767px) {
    min-width: rem(300);
  }
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #e1ede4;
    border: 5px solid #e1ede4;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .note-detail-button {
    margin-left: 2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: $primary;
    &:hover {
      color: $custom-note-black;
    }
    &::after {
      content: "|";
      float: right;
      color: $custom-note-gray;
      margin-right: -1rem;
    }
    &:last-child::after {
      content: "";
    }
  }

  .note-detail-header {
    .note-detail-header-step {
      display: flex;
      justify-content: space-between;

      & span:not(.note-file-remover) {
        margin-left: rem(12);
        font-weight: bold;
        font-size: rem(16);
        letter-spacing: $letter-spacing;
        color: $custom-note-gray;
      }
    }

    .note-detail-header-title {
      display: flex;
      flex-direction: row;
      margin: rem(12) 0;
      white-space: normal;
      word-break: break-all;
      overflow-wrap: break-word;

      .note-detail-header-title-heading {
        font-weight: bold;
        font-size: rem(20);
        line-height: rem(24);
        letter-spacing: $letter-spacing;
        color: $custom-note-black;
      }
    }

    .note-detail-header-info {
      .note-detail-tag {
        height: rem(24);
        border-radius: rem(24);
        display: inline-block;
        margin: rem(6) rem(6) rem(6) 0;
        padding: 0 rem(20);
        text-align: center;
        vertical-align: middle;
        font-size: rem(14);
        line-height: rem(24);
        font-weight: bold;
        letter-spacing: $letter-spacing;

        & svg {
          width: rem(16);
          height: rem(16);
          margin-top: rem(-2);
          margin-right: rem(2);
        }
      }
      .note-detail-crew-tag {
        @extend .note-detail-tag;
        padding: 0 rem(12);
        color: #ffffff;
        background-color: #767676;
      }
    }
  }

  .note-detail-content {
    margin: rem(16) 0 rem(24);
    p {
      font-size: rem(16);
      line-height: rem(18);
      letter-spacing: $letter-spacing;
      color: $custom-note-black;
      white-space: pre-wrap;
      word-break: keep-all;
      overflow-wrap: break-word;
    }
  }

  .note-detail-footer {
    display: flex;
    justify-content: space-between;
    p {
      font-size: rem(14);
      line-height: rem(18);
      letter-spacing: $letter-spacing;
      color: #bcbcbc;
    }
  }
}

.note-detail-table {
  width: 100%;
  display: table;
  border-collapse: collapse;

  .note-detail-tr {
    vertical-align: middle;
    display: table-row;
    overflow: auto;
  }

  .note-detail-th {
    width: rem(100);
    padding: rem(16) 0;
    vertical-align: middle;
    display: table-cell;
    border-bottom: 1px solid #ededed;
    width: rem(160);
    font-weight: bold;
    font-size: rem(16);
    letter-spacing: -0.03em;
    color: $custom-note-gray;

    svg {
      fill: $custom-note-gray;
      margin: rem(-2) rem(20) 0;
    }
  }

  .note-detail-td {
    padding: rem(16);
    vertical-align: middle;
    display: table-cell;
    border-bottom: 1px solid #ededed;
    word-break: break-all;
    white-space: normal;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  .cell-file-upload {
  }

  .cell-align-top {
    vertical-align: top;
  }
  .cell-text-bold {
    white-space: normal;
    word-break: break-all;
    overflow-wrap: break-word;
    overflow: hidden;
    font-weight: bold;
  }

  & .note-detail-tr:first-child .note-detail-th {
    border-bottom: 0;
    span {
      font-size: rem(14);
      letter-spacing: -0.03em;
      color: $custom-note-gray;
    }
  }
  & .note-detail-tr:nth-child(1) .note-detail-td {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0;
    span {
      font-size: rem(16);
      letter-spacing: -0.03em;
      color: $primary;
    }
  }
  & .note-detail-tr:nth-child(4) .note-detail-td,
  & .note-detail-tr:nth-child(5) .note-detail-td {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }


  & .note-detail-tr:last-child .note-detail-th {
    border-bottom: 0;
  }
  & .note-detail-tr:last-child .note-detail-td {
    border-bottom: 0;
  }
}

// --------------------------------------------------------------------------
// == note: label
// --------------------------------------------------------------------------
.note-step-label {
  height: rem(24);
  border-radius: rem(24);
  display: inline-block;
  padding: 0 rem(20);
  text-align: center;
  vertical-align: middle;
  font-size: rem(12);
  line-height: rem(24);
  font-weight: bold;
  letter-spacing: $letter-spacing;

  & svg {
    width: rem(14);
    height: rem(14);
    margin-top: rem(-2);
    margin-right: rem(2);
  }
}

.note-issue-badge {
  width: rem(24);
  height: rem(18);
  border-radius: rem(18);
  display: inline-block;
  margin-bottom: -(rem(4));
  margin-right: rem(8);
}
